{% extends "index.html" %}

{% block header_controls %}
{% endblock %}

{% block content %}
  <section class="measure p2">
    <article>
      <h1>{{ venue.name }}</h1>
      <section class="bg--white my2 p1">TODO</section>
      <p>{{ venue.description }}
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
        clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
        consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
        diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea
        takimata sanctus est Lorem ipsum dolor sit amet.
      </p>
      <small><strong class="fnt--dark-gray">
        {{ venue.phone }}
        {% if venue.phone and (venue.homepage or venue.email) %}&nbsp; ·&nbsp; {% endif %}
        {{ venue.homepage }}
        {% if venue.homepage and venue.email %}&nbsp; ·&nbsp; {% endif %}
        {{ venue.email }}
      </strong></small>
    </article>
  </section>
{% endblock %}
