<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/furtive/furtive.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">

  <!-- JS -->
  <script src="{{ url_for('static', filename='js/map.js') }}"></script>

  <title>Hello!</title>
  <!-- TODO add favicon here -->
</head>
<body class="bg--off-white fnt--dark-gray">

<header class="bg--white fnt--dark-gray">
  <section class="p1">
    <span class="h4">LUUPS-MAP</span>
  </section>
</header>

<main>
  <section>Add map here</section>
</main>

<footer>
  <section class="txt--center">
    <small>
      Made with ❤ by <a href="https://github.com/Team-LANS">Team LANS</a>
    </small>
  </section>
</footer>

</body>
</html>
