{% extends 'index.html' %}

{% block header_controls %}
  <div class="media flt--right" onclick="showModal(true)">
    <a class="cta">
      <svg viewBox="0 0 24 24">
        <use xlink:href="{{ url_for('static', filename='svg/icons/all.svg') }}#search"></use>
      </svg>
    </a>
  </div>
{% endblock %}

{% block content %}
  <div id="overlay" class="overlay">
    <div id="modal" class="modal">
      <form action="" method="post">
        <header class="modal-header">
          <a class="close flt--right" onclick="showModal(false)">&times;</a>
        </header>
        <div class="content">
          <h3 class="content-header">Nach Art filtern</h3>
          <div class="check-container">
            <label class="check">
              <input type="checkbox" name="food">
              <div class="box icon-container food">
                <svg viewBox="0 0 24 24" class="food">
                  <use xlink:href="{{ url_for('static', filename='svg/icons/all.svg') }}#food"></use>
                </svg>
              </div>
            </label>
            <label class="check">
              <input type="checkbox" name="drinks">
              <div class="box icon-container drink">
                <svg viewBox="0 0 24 24" class="drink">
                  <use xlink:href="{{ url_for('static', filename='svg/icons/all.svg') }}#drink"></use>
                </svg>
              </div>
            </label>
            <label class="check">
              <input type="checkbox" name="entertainment">
              <div class="box icon-container ticket">
                <svg viewBox="0 0 24 24" class="ticket">
                  <use xlink:href="{{ url_for('static', filename='svg/icons/all.svg') }}#ticket"></use>
                </svg>
              </div>
            </label>
          </div>
            <h3 class="content-header">Nach Tag filtern</h3>
        </div>
        <footer class="modal-footer ">
          <input type="submit" value="Submit" class="btn--green">
        </footer>
      </form>
    </div>
  </div>
  <section id="map" class="map">
    <div id="content"></div>
  </section>
  <!-- GOOGLE MAPS -->
  <script src="https://maps.googleapis.com/maps/api/js?key={{ config.GMAPS_API_KEY }}"></script>
  <script>
    initMap();
    {% for venue in venues %}
      {% for location in venue.locations %}
        {# TODO: Proper JSON serisalization #}
        venue_dict = {
          id: '{{ venue.id  }}',
          name: '{{ venue.name | escape }}',
          homepage: '{{ venue.homepage }}',
          type: '{{ venue.type}}',
          href: '{{ url_for('show_details', venue_id=venue.id) }}'
        };
        addMarker(venue_dict, {
          lat: {{ location.latitude }},
          lng: {{ location.longitude }}
        });
      {% endfor %}
    {% endfor %}
  </script>
{% endblock %}
