/* FONTS **************************************************************************************************************/
@import url('https://fonts.googleapis.com/css?family=Amaranth:400,700|Open+Sans:300,400,700');

body {
  font-family: 'Open Sans', sans-serif;
}

.h1, .h2, .h3, .h4, h1, h2, h3, h4 {
  font-family: 'Amaranth', sans-serif;
  text-transform: uppercase;
}

.thin {
  font-weight: 300;
}

/* GENERAL LAYOUT *****************************************************************************************************/

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex-grow: 1;
}

footer {
  padding-bottom: .25rem;
}

/* LINKS **************************************************************************************************************/

a {
  color: #25ba84;
  font-weight: 700;
  text-decoration: none;
}

a:active,
a:focus,
a:hover {
  color: #21a777;
}

footer a {
  color: #484848;
}

footer a:active,
footer a:focus,
footer a:hover {
  color: #414141;
  text-decoration: underline;
}

/* MAP ****************************************************************************************************************/

.map {
  height: 100%;
}

.info-window {
  padding: 0.5rem;
}

.info-window > h5 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.gm-style-iw {
  padding: 12px !important;
}

.gm-style-iw > .gm-ui-hover-effect {
  top: -2px !important;
  right: -2px !important;
}

.gm-style-iw .btn--s {
  display: block;
  margin-top: 1rem;
  margin-bottom: 0;
  width: 100%;
}

#filter {
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 5px 5px 5px #888888;
}

#filter:hover {
  transform: scale(1.1);
}

#filter .filter {
  fill: #484848;;
}


/* MODAL **************************************************************************************************************/
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 300ms;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
}

.modal {
  margin: 30px auto;
  padding: 10px;
  background: #fff;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;

}

.visible {
  z-index: 1;
  opacity: 1;
  visibility: visible;
}

.modal .close {
  right: 30px;
  transition: all 200ms;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

.modal form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%
}

.modal .content {
  overflow: auto;
  height: 100%;
  text-align: center;
}

.content-header {
  margin-bottom: 25px;
}

.modal-footer {
  height: 50px;
  margin-bottom: 5px;
}

.modal-header {
  height: 30px;
}

.type-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  margin-bottom: 10px;
}

.check {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.check input {
  display: none;
}

.check input:checked + .box {
  opacity: 1;
  transform: scale(1.1);
}

.type {
  height: 60px;
  width: 60px;
}

.check .box {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 700px) {
  .modal {
    width: 90%;
  }
}

.tag-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
  flex-grow: 0;
}

.tag-container .check { flex-grow: 1; }

.tag {
  background: #69D2AC;
  margin: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  opacity: 0.7;
  padding: 3px;
  color: white;
}

.check input:checked + .tag {
  opacity: 1;
  transform: scale(1.05);
}

/* BUTTON *************************************************************************************************************/

.btn--s {
  padding: .25rem .5rem;
}

.btn--s, .small, small {
  font-size: 0.9rem;
}

@media screen and (min-width: 36rem) {
  .btn--s, .small, small {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 48rem) {
  .btn--s, .small, small {
    font-size: 0.707rem;
  }
}

/* VOUCHER ************************************************************************************************************/

.voucher-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

h2 + .voucher-container {
  margin-top: 2rem;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  flex-shrink: 0;
  height: 4rem;
  width: 4rem;
}

.icon-container.food {
  background: #ffab00;
}

.icon-container.drink {
  background: #607d8b;
}

.icon-container.ticket {
  background: #c2185b;
}

.icon-container svg {
  fill: #fff;
}

/* SVG ****************************************************************************************************************/

svg {
  height: 2rem;
}

svg.icon-small {
  height: 1.5rem;
}

/* HEADER *************************************************************************************************************/

.heart {
  display: inline-block;
  height: 2rem;
  width: 2rem;
  text-align: center;
  margin-right: 0.25rem;
  border-radius: 0.5rem;
}

.city-name {
  display: inline-block;
  height: 1.6rem;
  overflow: visible;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3rem;
  border-bottom: solid 5px #69D2AC;
}

