/* FONTS **************************************************************************************************************/
/* TODO use local font */
@import url('https://fonts.googleapis.com/css?family=Amaranth:400,700|Open+Sans:300,400,700');

body {
  font-family: "Open Sans", sans-serif;
}

.h1, .h2, .h3, .h4, h1, h2, h3, h4 {
  font-family: "Amaranth", sans-serif;
}

.thin {
  font-weight: 300;
}

/* GENERAL LAYOUT *****************************************************************************************************/

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex-grow: 1;
}

footer {
  padding-bottom: .25rem;
}

/* LINKS **************************************************************************************************************/

a {
  color: #25ba84;
  font-weight: 700;
  text-decoration: none;
}

a:active,
a:focus,
a:hover {
  color: #21a777;
}

footer a {
  color: #484848;
}

footer a:active,
footer a:focus,
footer a:hover {
  color: #414141;
  text-decoration: underline;
}

/* MAP ****************************************************************************************************************/

.map {
  height: 100%;
}

.info-window {
  padding: 0.5rem;
}

.info-window > h5 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.gm-style-iw > .gm-ui-hover-effect {
  top: -2px !important;
  right: -2px !important;
}

/* MODAL  ****************************************************************************************************************/
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 300ms;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
  z-index: 1;
}

.popup {
  margin: 30px auto;
  padding: 10px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup .close {
  right: 30px;
  transition: all 200ms;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: #06D85F;
}

.popup .content {
  overflow: auto;
}

.popup .header {
  height: 50px;
  width: 100%;
  top: 0
}

.popup .footer {
  height: 50px;
  width: 100%;
  bottom: 0
}
@media screen and (max-width: 700px) {
  .popup {
    height: 90%;
    width: 90%;
  }
}


